{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Warehouse manager</h1>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Unit price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>{{item}}</tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}