{% extends "base.html" %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
        <h1 class="h2">Selling item</h1>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <form method="POST" action="/sell/{{ product_name }}">
            <p>Selling {{ form.quantity }} of {{ product_name }}</p>
            <input type="submit" value="Sell" />
    </div>
</main>

{% endblock %}